:root {
  --dark: #0C1618 ;
  --light: #FAEFE1;
}

body {
  color: var(--dark);
  background-color: var(--light);

  font-family: system-ui, sans-serif;
  font-size: 110%;

  margin: 1em auto;
  padding: 0 1em;
  max-width: 700px;
}

p {
  line-height: 1.7;
}

a:link {
  text-decoration: none;
  color: rgb(85, 26, 139);
}

a:visited {
  color: rgb(85, 26, 139);
}

/* night mode */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--light);
    background-color: var(--dark);
  }

  a:link {
    color: lightskyblue;
  }

  a:visited {
    color: lightskyblue;
  }
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6{
  text-align: left;
  line-height: 1.2;
}

.publish-timestamp {
  text-align: center;
}

/* Add horizontal scroll on code blocks */
.chroma {
  font-size: 16px;
  overflow-x: scroll;
  padding: 20px;
}

.page-map ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

.page-map .folder:before {
  content: '📁 ';
}

.page-map .folder:hover:before {
  content: '📂 ';
}

.page-map .page:before {
  content: '📃 ';
}

.page-map .page:hover:before {
  content: '📄 ';
}

.page-map .link:before {
  content: '🔗';
}

.breadcrumb {
  font-size: 80%;
}

.header-menu h1 {
  font-size: 2em;
  display: inline;
  margin: 0 0.5em 0 0;
}

.header-menu a {
  margin: 0 0.5em 0 0;
}

.page-list {
  margin: auto;
  max-width: 500px;
}

.page-list table {
  width: 100%;
}

.page-list .left {
  text-align: left;
}

.page-list .right {
  text-align: right;
}


